<h1>
  諸々の条件で日に対して絞り込みを行いたい
</h1>

<%= form_with model: @day, method: :get, local: true do |form| %>

    <div class="field">
        <%= form.label :event %>
        <%= form.search_field :event %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>

<% end %>
