<div id="<%= dom_id calendar %>">
  <p>
    <strong>Date:</strong>
    <%= calendar.date %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= calendar.event %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= calendar.memo %>
  </p>

</div>
