<div id="<%= dom_id expense %>">
  <p>
    <strong>Date:</strong>
    <%= expense.date %>
  </p>

  <p>
    <strong>Expense:</strong>
    <%= expense.expense %>
  </p>

  <p>
    <strong>Purchase:</strong>
    <%= expense.purchase %>
  </p>

</div>
